
 	#demo{
 		 font-family: "Times New Roman", Times, serif;
 		 font-style:italic;
         font-size: 50px;
         text-align: center;
         text-shadow: 2px;


 	}
 	#tt,#s2,#s1,#ss{
 		display: none;
 	}
 	
 	table {
    border: 1px solid black;
    width:80%;
    border-collapse: collapse;
    
    }

td{
	text-align: center;
	font-size: 25px;
     border: 1px solid black;
}
button{
border-radius:10px;
border-bottom-width :9px;
border-right-width: 9px;
height :40px;

}